---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Добро пожаловать домой">
	<div class="flex items-center justify-center w-screen h-screen">
		<h1 class="text-4xl font-bold">Скоро</h1>
	</div>
</Layout>