---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		  <!-- Open Graph базовые мета-теги -->
		  <meta property="og:title" content="Тайшет - Неофициальный сайт города" />
		  <meta property="og:description" content="Неофициальный сайт города Тайшет. Новости, события, и информация о жизни города." />
		  <meta property="og:url" content="https://тайшет38.рф" />
		  <meta property="og:type" content="website" />
		
		  <!-- Изображение для превью -->
		  <meta property="og:image:alt" content="Тайшет - Неофициальный сайт города" />
		
		  <!-- Дополнительные мета-теги -->
		  <meta property="og:site_name" content="Тайшет - Неофициальный сайт города" />
		  <meta property="og:locale" content="ru_RU" />
		
		  <!-- Twitter карточки -->
		  <meta name="twitter:title" content="Тайшет - Неофициальный сайт города" />
		  <meta name="twitter:description" content="Неофициальный сайт города Тайшет. Узнайте больше о жизни и событиях города!" />
		
		<link rel="shortcut icon" href="https://www.heraldicum.ru/russia/subjects/towns/images/taishet3.gif" type="image/x-icon" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>